extends layout
include includes

mixin displayColumns ( c1, c2, c3, c4 )
  - for (var i = 0; i < 5; ++i)
    .row
      mixin pin (c1[i])
      mixin pin (c2[i])
      mixin pin (c3[i])

block scripts
  script(src='/javascripts/index.js')

block content
  if current_user
    a.btn.btn-success#new-pin(href='#')
      | New pin &nbsp;
      span.glyphicon.glyphicon-plus

    form.form-horizontal.hidden#new-pin-form(method='GET', action='/pin/new')
      label.sr-only(for='url') URL
      .input-group
        input.form-control#url-input(name='url', type='url',
          placeholder='Enter the URL of the object')
        span.input-group-btn
          button.btn.btn-primary(type='submit')
            | Next &nbsp;
            span.glyphicon.glyphicon-arrow-right

    mixin displayColumns ( col1, col2, col3 )

  else
    mixin displayPins ( newPins )
