doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    block scripts
  body
    nav.navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Pennterest
          a(href='/')
            img(src="http://img163.imageshack.us/img163/8641/z6bb.png")
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if !!current_user
              li: a(href='/user/me')= current_user.full_name()
              li: a(href='/updateProfile') Update Profile
              li: a(href='/logout') Logout
            else
              li: a(href='/login') Login
              li: a(href='/register') Register

    .container
      block header
        h1= title

      if !(messages === null || messages === undefined)
        ul.messages
          if Array.isArray(messages)
            if messages.length > 0
              - for (var i = 0; i < messages.length; i += 1)
                li= messages[i]
          else
            li= messages

      block content

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
