doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          a(href='/')
            img(src="/images/HazelnootLogoSmall.png", height=50)

        .collapse.navbar-collapse
          form.navbar-form.navbar-left(role='form', method='POST', action='/search')
            .form-group
              label.sr-only(for='term') Search
              input.form-control(name='term' type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Search

          ul.nav.navbar-nav.navbar-right
            if !!current_user
              li: a(href='/user/me')= current_user.full_name()
              li: a(href='/user/me/update') Update Profile
              li: a(href='/logout') Logout
            else
              li: a(href='/login') Login
              li: a(href='/register') Register

    .container
      block header
        h1= title

      if !(flash_messages === null || flash_messages === undefined)
        - for (var flash_type in flash_messages)
          - for (var i = 0; i < flash_messages[flash_type].length; i += 1)
            if (flash_type === 'error')
              .alert.alert-danger= flash_messages[flash_type][i]
            else
              .alert(class="alert-#{flash_type}")= flash_messages[flash_type][i]

      block content

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block scripts
