extends layout

block content
  p: a(href='/register') Don't have an account yet?

  form.well.col-lg-4.col-md-6(role='form', method='POST', action=action_url)
    .form-group
      label(for='username') Username
      input.form-control(name='username', type='text', placeholder='Username', autofocus)
    .form-group
      label(for='password') Password
      input.form-control(name='password', type='password', placeholder='Password')
    .checkbox
      label(for='remember-me') Remember me (doesn't work yet!)
      input#remember-me(type='checkbox')

    input.btn.btn-primary.btn-block(type='submit') Submit
