extends layout

block header
    h1 Rating/Object Page

block content
    img(src='#{pic}')
    p Object id = #{id}
    p Average Rating = #{avgDisplay}
    
    div(class='btn-group')
        button(type='button', class='btn btn-default') 1
        button(type='button', class='btn btn-default') 2
        button(type='button', class='btn btn-default') 3
        button(type='button', class='btn btn-default') 4 
        button(type='button', class='btn btn-default') 5
