extends layout

block header
    h1 Rating/Object Page

block content
    img(src='#{pic}')
    p Object id = #{id}
    p Average Rating = #{avgDisplay}
    
    div.btn-group#ratings
        button.btn.btn-default(type='button', data-rating=1) 1
        button.btn.btn-default(type='button', data-rating=2) 2
        button.btn.btn-default(type='button', data-rating=3) 3
        button.btn.btn-default(type='button', data-rating=4) 4
        button.btn.btn-default(type='button', data-rating=5) 5

block scripts
  script(src='/javascripts/rating.js')
