extends layout
include includes

block content
  p: a(href='/login') Have an account already?

  form.well.col-lg-4.col-md-6(role='form', method='POST', action='/register')
    mixin formTextElem('first_name', 'First name', 'Bob')
    mixin formTextElem('last_name', 'Last name', 'Boberts')
    mixin formTextElem('affiliation', 'Affiliation', 'the internets')
    mixin formTextElem('user_name', 'Username', 'h4xx0rs')
    mixin formTextElem('email', 'Email', 'l33t@internet.com')
    mixin formTextElem('birthday', 'Birthday(yyyy-mm-dd)', '2000-01-01')
    .form-group
      label(for='password') Password
      input.form-control(name='password', type='password', placeholder='Password')
    .checkbox
      label(for='remember-me') Remember me (doesn't work yet!)
      input#remember-me(type='checkbox')

    input.btn.btn-primary.btn-block(type='submit') Submit
