extends layout

block content
  p: a(href='/login') Have an account already?

  form.well.col-lg-4.col-md-6(role='form', method='POST', action='/register')
    .form-group
      label(for='first_name') First name
      input.form-control(name='first_name', type='text', placeholder='Richard')
    .form-group
      label(for='first_name') Last name
      input.form-control(name='last_name', type='text', placeholder='Roberts')
    .form-group
      label(for='username') Username
      input.form-control(name='user_name', type='text', placeholder='ricro')
    .form-group
      label(for='email') Email
      input.form-control(name='email', type='text', placeholder='ricro@example.com')
    .form-group
      label(for='password') Password
      input.form-control(name='password', type='password', placeholder='Password')
    .checkbox
      label(for='remember-me') Remember me (doesn't work yet!)
      input#remember-me(type='checkbox')

    input.btn.btn-primary.btn-block(type='submit') Submit
