extends layout
include includes

block header
  h1 Search results for '#{searchTerm}'

block content
  if (images.length > 0)
    mixin displayPins (images)
  else
    p
      | Oh shucks, looks like there's no pictures for that. Why don't you go pin
      | one?
