extends layout
include includes

block header  
  p: h1 Editing #{current_user.user_name}'s Account

  form.well.col-lg-4.col-mo-6(role='form', method='POST', action='/user/me/update')
    - var firstName = current_user.first_name
    - var lastName = current_user.last_name
    - var email = current_user.email
    - var affiliation = current_user.affiliation
    mixin formTextElem('firstName', 'First Name', firstName)
    mixin formTextElem('lastName', 'Last Name', lastName)
    mixin formTextElem('email', 'Email address', email)
    mixin formTextElem('affiliation', 'Network', affiliation)
    .form-group
      label(for='newPassword1', for='newPassword2') Change Password
      input.form-control(name='newPassword1', type='password', placeholder='New Password')
      input.form-control(name='newPassword2', type='password', placeholder='Re-Enter New Password')
    .form-group
      label(for='password') Enter Old Password to Save Changes
      input.form-control(name='password', type='password', placeholder='Old Password')
    
    input.btn.btn-primary.btn-block(type='submit', value='Save Changes')
    p: a(href='/user/me') Ignore Changes
