extends ../layout
include ../includes

block header
  h1 #{board.name} <small>~ <a href="/user/#{board.owner_name}">#{board.owner_name}</small></a>

block content
  if current_user.user_name == board.owner_name
    mixin displayPins (images, board)
  else
    mixin displayPins (images)
