extends ../layout
include ../includes

block header
  h1 #{title} <small>#{current_user.user_name}'s Interests</small>

block content
  - if (interests.length > 0)
    h4 Interests
    ul
      - for (var i = 0; i < interests.length - 1; i += 1)
        a(href="/search?term=#{interests[i]}")= interests[i]
        , 
      a(href="/search?term=#{interests[interests.length - 1]}")= interests[interests.length - 1]
  - else
    p Interests: You have no interests!

