extends ../layout
include ../includes

block header  
  h1 Hi there! Welcome To Hazelnoot!

block content
  p
    | We noticed that you're logging in for the first time, and your password
    | hasn't been set properly. Use the form below to set up your account!

  form.well.col-lg-4.col-md-6(role='form', method='POST',
    action='/user/setNewPassword')
    input.form-control(type='hidden', name='username', value=user)
    .form-group
      label(for='new_password') Change Password
      input.form-control(name='new_password', type='password', placeholder='New Password', autofocus)
      input.form-control(name='new_password_confirm', type='password', placeholder='Re-Enter New Password')
    input.btn.btn-danger.btn-block(type='submit', value='Update password')
